* {
    font-family: 'noto sans';

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

    -webkit-font-smothing: antialiased;
    -moz-osx-font-smothing: grayscale;
}

:root{
    --primary-color: hsl(220, 15%, 20%);
    --secundary-color: hsl(8, 67%, 52%);
    --primary-color-button: hsl(187, 61%, 74%);
    --secundary-color-button: hsl(240, 3%, 40%);
    --text-color-prymary: hsl(222, 32%, 8%);
    --text-color-secundary: hsl(0, 0%, 62%);

}

html{
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
    
}

a{
    color: var(--primary-color);
    font-size: 1.6rem;
}

h2{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
}

header{
    position: sticky;
    top: 0;
    padding: 0.8rem;
    box-shadow: hsl(0deg 0% 0% / 25%) 0 1px;
}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.content-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    padding-inline: 16px;
    font-size: 16px;
    font-weight: 500;
}

.DocSearch-Form{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 0% / 25%);
    height: 3.2rem;
    margin: 0;
    padding: 1.2rem;
    position: relative;
    width: 100%;
}

.DocSearch-MagnifierLabel{
    display: flex;
    align-items:  center;
    justify-content: center;
    color: hsl(0deg 0% 0% / 50%);

    margin: 0;
    padding: 0;
    
}

.DocSearch-Input{
    background: transparent;
    border: 0;
    color: var(--primary-color);
    flex: 1;
    font-size: 1.6rem;
    outline: none;
    padding: 0 0 0 8px;
}

.DocSearch-Reset{
    animation: fade-in .1s ease-in forwards;
    appearance: none;
    background: none;
    border: 0;
    color: var(--text-color-prymary);
    cursor: pointer;
    padding: 2px;
    stroke-width:  1.4;
}